body{
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100%;
}
@media(max-width: 1400px)  {
    body{
        width:1400px;
    } 
}
#root{
    height: calc(100% - 60px);
}
.App{
    height: 100%;
}